
.nav {
  width: 50%;
  height: 55px;
  background-color: #bd79d0 ;
 
}

#menu {
  list-style-type: none;
  padding-left: 2%;
}

#menu li {
  display: inline-flex;
}

#menu li a {
  margin-top: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  text-decoration: none;
  color: rgb(232, 226, 234);
}

#menu li a:hover {
  background-color: #1111bf;
  color: #faf8f8;
}

body {
  background-color: rgb(211, 235, 188); 

}