#parrafo{
    text-align: center;
    padding: 5%;
}

.linea1{
font-weight: bold;
}

.linea2 a{
  color: #FFFF00;
  font-weight: bold;
  text-align: center;
}

.linea3{
  color: #00008B;
  font-weight: bold;
}

body {
  background-color: aquamarine;

}
